[submodule "test/lib"]
	path = test/lib
	url = git@github.com:pivotal/jasmine.git
[submodule "test/lib/jasmine"]
	path = test/lib/jasmine
	url = git@github.com:pivotal/jasmine.git
[submodule "test/lib/jasmine-reporters"]
	path = test/lib/jasmine-reporters
	url = git@github.com:larrymyers/jasmine-reporters.git
[submodule "test/lib/phantom-jasmine"]
	path = test/lib/phantom-jasmine
	url = git@github.com:jcarver989/phantom-jasmine.git
